#header{
    height: 300px;
    padding: 20px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 247, 247);
    background-image:url(images/fond2.jpg);  
    font-size: 20px;    
}

.navigation {
    position: absolute;
    text-align: center;
    font-size: 38px;
    margin: 600px;
    padding-left: 1000px;
    padding-top: -16px;
    margin-left: 184px;
    
} 

p { 
    font-size: 20px;
    margin-top: 600px;
    color: rgb(101, 61, 212); 
    margin: 25px;

}

.bloc {
    background-color: rgb(193, 228, 248);
    border-radius: 40px;
    margin: 100px;
    padding: 60px; 
    height: 1600px;     
} 

h1{
    font-size: 40px;
    color: rgb(247, 144, 204);
    margin: 25px; 
    }

h2, h3{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 40px;
    color:rgb(247, 144, 204);
    margin: 25px; 
        
        }
        

img{
    border-radius: 50%;
    width: 300px;
    padding-right: 100px;


}
#about{
    margin-top: 30px;
      }
    
#passions{
    text-align: left;      
    }
    
.smaller-image {
    width: 300px;
    border-radius: 50%;
    }
    
#little-image {
    padding: -200px;
    }
    
#contact{ 
    text-align: left;
    }

    .footer{
    
        text-align: center;
        font-size: 20px;
        padding-bottom: 100px;
    
        }
    

  